/* .ListBox {
  position: relative;
} */

/* .trigger {
  padding: 8px 14px;
} */

.options {
  position: absolute;
  background: var(--dark-bg-redesigned);
  border-radius: 10px;
  box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  border: 1px solid var(--accent-redesigned);
  overflow: hidden;
  z-index: var(--list-box-z-index);
}

.readonly {
  opacity: 0.6;
}
