.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--side-bar-width);
  background: var(--bg-color-inverted);
  position: relative;
  transition: width 0.2s ease;
}

.switchers {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lang {
  margin-left: 15px;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 40px;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
}

.collapsed {
  width: var(--side-bar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .lang {
    margin-left: 0;
    margin-top: 10px;
  }
}
