.LIST {
  .card {
    /* margin-bottom: 20px; */
  }
}

.TILE {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .card {
    display: inline-flex;
    margin-bottom: 20px;
  }

  .row {
    display: flex;
    gap: 20px;
  }
}
