.ListBox {
  position: relative;
}

.trigger {
  padding: 8px 10px;
}

.options {
  position: absolute;
  background: var(--listbox-bg);
  border-radius: 10px;
  box-shadow: 0 0 8px var(--listbox-bg);
  z-index: var(--list-box-z-index);
}

.item {
  padding: 10px;
}

.active {
  background: var(--primary-color-inverted);
}

.disabled {
  opacity: 0.5;
}

.readonly {
  opacity: 0.6;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}
