.AppLogoWrapper {
  position: relative;
}

.gradientBig {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 0.6;
  pointer-events: none;
}

.gradientSmall {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.6;
  pointer-events: none;
}

/* background: radial-gradient(circle, rgba(148,144,162,0.129) 0%, rgba(201,201,201,1) 0%, rgba(252,252,252,1) 100%); */
