.LIST {
  width: 100%;

  .img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
  }

  .textBlock {
    max-height: 80px;
    overflow-y: hidden;
  }
}

.TILE {
  .card {
    width: 230px;
    height: 350px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
  }

  .img {
    width: 100%;
    object-fit: cover;
    min-height: 140px;
    max-height: 140px;
  }

  .info {
    padding: 8px 8px 16px 8px;

    /* height: 100%; */
    flex: 1 0 auto;
  }

  .footer {
    height: 100%;
    justify-content: flex-end;
  }

  .avatar {
    margin-left: 8px;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);
  }

  .types p {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
  }

  .title p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 320px) {
    width: 80%;
  }
}
