.app_dark_theme {
  --bg-color: rgb(24 104 131);
  --bg-color-inverted: rgb(212 226 230);
  --primary-color: rgb(41 217 41);
  --secondary-color: rgb(95 193 95);
  --primary-color-inverted: rgb(21 21 21);
  --secondary-color-inverted: rgb(80 84 80);

  /* redesigned */
  --dark-bg-redesigned: #192327;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #2f3133;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #095757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;

  /* skeleton */
  --skeleton-color: #3333c3;
  --skeleton-shadow: #5c5cf2;

  /* code */
  --code-bg: rgb(142 205 226);

  /* card */
  --card-bg: rgb(14 54 66);

  /* listbox */
  --listbox-bg: rgb(14 54 66);
}
