.app.dark {
  --bg-color: rgb(79 195 234);
  --bg-color-inverted: rgb(212 226 230);

  /* --bg-color: #ecedf0;
  --bg-color-inverted: rgb(255 255 255); */
  --primary-color: rgb(23 101 23);
  --secondary-color: rgb(95 193 95);
  --primary-color-inverted: rgb(21 21 21);
  --secondary-color-inverted: rgb(80 84 80);
}
