.app_light_theme {
  --bg-color: rgb(212 226 230);
  --bg-color-inverted: rgb(24 104 131);

  /* --bg-color: rgb(255 255 255);
  --bg-color-inverted: #ecedf0; */
  --primary-color: rgb(21 21 21);
  --secondary-color: rgb(80 84 80);
  --primary-color-inverted: rgb(37 148 37);
  --secondary-color-inverted: rgb(22 190 22);

  /* redesigned */
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62be85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;

  /* skeleton */
  --skeleton-color: #fff;
  --skeleton-shadow: rgb(0 0 0 / 20%);

  /* code */
  --code-bg: #fff;

  /* card */
  --card-bg: rgb(189 222 231);

  /* listbox */
  --listbox-bg: rgb(189 222 231);
}
