.app_light_theme {
  --bg-color: rgb(212 226 230);
  --bg-color-inverted: rgb(79 195 234);

  /* --bg-color: rgb(255 255 255);
  --bg-color-inverted: #ecedf0; */
  --primary-color: rgb(21 21 21);
  --secondary-color: rgb(80 84 80);
  --primary-color-inverted: rgb(24 74 24);
  --secondary-color-inverted: rgb(22 190 22);
}
