.app_orange_theme {
  --bg-color: #faf4fb;
  --bg-color-inverted: #bd5012;
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --primary-color-inverted: #dbd5dc;
  --secondary-color-inverted: #faf4fb;

  /* skeleton */
  --skeleton-color: #fff;
  --skeleton-shadow: rgb(0 0 0 / 20%);

  /* code */
  --code-bg: #fff;

  /* card */
  --card-bg: #e3dce4;

  /* listbox */
  --listbox-bg: #e3dce4;
}
