.ArticlesPageFilter {
  padding: 0 20px 0 40px;
}

.filterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  margin-top: 16px;
}

.tabs {
  margin-top: 16px;
}
