.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color-inverted);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links,
.dropdown {
  margin-left: auto;
}

.appName {
  width: var(--side-bar-width);
}

.createBtn {
  margin-left: 20px;
}
