.Button {
  color: var(--primary-color);
  cursor: pointer;
  padding: 8px 10px;

  &:hover {
    opacity: 0.7;
    fill-opacity: 0.7;
    stroke-opacity: 0.7;
  }
}

.clear,
.clearInverted {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.clearInverted {
  color: var(--primary-color-inverted);
}

.outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: none;
  outline: none;
}

.outlineRed {
  color: var(--red-light);
  border: 1px solid var(--red-light);
  background: none;
  outline: none;
}

.Button svg {
  display: flex;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
  outline: none;
}

.backgroundInverted {
  background: var(--bg-color-inverted);
  color: var(--primary-color-inverted);
  border: none;
  outline: none;
}

.square {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font: var(--font-m-redesign);
}

.l {
  font: var(--font-l-redesign);
}

.xl {
  font: var(--font-xl-redesign);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
