.Button svg {
  display: flex;
}

.addonLeft svg,
.addonRight svg {
  color: var(--hint-redesigned);
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-redesigned);
  padding: 8px 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    fill-opacity: 0.7;
    stroke-opacity: 0.7;
    color: var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.clear {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  background: none;
  outline: none;
  border-radius: 10px;

  &.normal {
    border: 1px solid var(--icon-redesigned);

    &:hover {
      border: 1px solid var(--accent-redesigned);
    }
  }

  &.success {
    border: 1px solid var(--save-redesigned);

    /* &:hover {
      opacity: 0.75;
    } */
  }

  &.error {
    border: 1px solid var(--cancel-redesigned);

    /* &:hover {
      opacity: 0.75;
    } */
  }
}

.filled {
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  border-radius: 10px;
}

.square {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}

.addonLeft,
.addonRight {
  display: flex;
}

.widthAddon {
  padding: 4px 10px;
}
