.InputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 14px;
  padding: 8px 16px;
  border: 2px solid var(--icon-redesigned);
  height: 40px;
  width: 100%;
}

.input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-redesigned);

  &::placeholder {
    color: var(--hint-redesigned);
  }
}

.readonly {
  opacity: 0.6;
}

.focused {
  border: 2px solid var(--accent-redesigned);

  .addonLeft svg,
  .addonRight svg {
    color: var(--accent-redesigned);
  }
}

.withAddonLeft {
  padding-left: 10px;
}

.withAddonRight {
  padding-right: 10px;
}

.addonLeft,
.addonRight {
  display: flex;
}
